
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <div class="card w-50">
            <div class="card-body get-seat">
                <div *ngFor="let items of seaTArr">
                    <span *ngFor="let item of items.seats | keyvalue" data-id="{{item.value.name}}" style='margin-left:20px;font-size:x-large;'>
                        <i *ngIf="item.value.status" style='color:{{item.value.color}}' class='bi bi-check-circle'></i>
                        <i *ngIf="!(item.value.status)" style='color:{{item.value.color}}' class='bi bi-check-circle-fill'></i>
                    </span>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card w-100">
            <div class="card-body">
                <form  #seatData = "ngForm" (ngSubmit) = "onClickSubmit(seatData.value)">
                    <label for="seat" class="com-label">
                        Enter Seats *
                    </label>&nbsp;
                    <input type="text" name="seat" class="form-control switch_1" id="seat"  [(ngModel)]="seat"><br>
                    <button type = "submit" value = "submit" class="btn btn-primary"> <span class="material-symbols-outlined">add</span></button>
                </form>
                <br>
                <button (click)="setReset()" class="btn btn-primary"> <span class="material-symbols-outlined">Reset</span></button>
            </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
